.page-wrapper{
    width:80%;
    max-width:1280px;
    margin:auto;

    position:relative;
}

.explanation{
    width:60%;
    margin-right:35%;
    border-right:1px solid #1f295c;
    padding-right:2%;
    margin-bottom:12%;
}

.design-selection{
    position:absolute;
    top: 500px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
}

.design-selection li{
    border-top:1px solid #1f295c;
}

.design-selection li:last-child{
    padding-bottom:1em;
    border-bottom:1px solid #1f295c;
}

.benefits{
    display:flex;
    flex-wrap: wrap;
    border-bottom:#1f295c solid 2px;
}
.benefits h3{
    order:2;
    flex-basis:30%;
    align-self:center;  
}
.benefits p{
    order:1;
    flex-basis:70%;
}

.participation{
    display:flex;
    border-top:#1f295c solid 2px;
    border-bottom:#1f295c solid 2px;
}
.participation h3{
    align-self:center;
    flex-basis: 50%;
}
.participation p{
    flex-basis: 50%;
}

#zen-intro{
    height: 550px;
}
#design-archives{
    display: none;
}
#zen-supporting  p:first-of-type::first-letter{
    float:left;
    line-height:0.3em;
    letter-spacing:-0.3em;
    font-size:3em;
    font-family:'Times New Roman', Times, serif;
}

header{
    background-color: #5D4070;
    color:#D6B0F0;
}

header h1, header h2{
    display: inline-block;
}

header h1{
    margin-left: 1em;
    margin-right: 1em;
}

.sidebar ul{
    list-style-type: none;
}
.sidebar ul li{
    margin: 1.2em;
    text-align: center;
}

footer{
    display: flex;  
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items:center;

    background-color: #5D4070;
    color:#D6B0F0;
    margin: 4%;
    padding: 2%
}
footer a{
    width: 70px;

    display:inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    color:#D6B0F0;
    font-weight:bold;
    border:2px solid #8A729B;   
    padding:0.5em;
}
footer a:visited{
    font-weight:normal;
}

html {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-indent: 1em;

    background:#D6B0F0; 
    color: #5D4070;
}

a {
    font-weight:bold;
    color:#45214A;
}
a:hover{
    color:#8A729B;
}
a:visited{
    font-weight: normal;
}
h1{
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    text-align: center;
    font-size: 1.2rem;
}
.summary{
    text-align:center;
}
.main p{
    line-height: 1.5;
}
abbr{
    font-variant: small-caps;
}

/* Layout Mobile*/
@media screen and (max-width: 768px) {
    #zen-intro{
        height: auto;
    }
    
    .explanation{
        width:100%;
        margin:auto;
        border: none;
    }
    
    .design-selection{
        position:static;
    }   
    .participation{
        display:flex;
        flex-flow: column wrap;
    }

    p{
        text-indent:0em;
    }
    #zen-supporting  p:first-of-type::first-letter{
        letter-spacing:0.01em;
    }
} 

/*Layout Impressão*/
@media print{
    html{
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    header{
        background-color: #D6B0F0;
        color:#5D4070;
    }
}