
.page-wrapper{
    width:80%;
    max-width:1280px;
    margin:auto;

    position:relative;
}

.explanation{
    width:60%;
    margin-right:35%;
    border-right:1px solid #1f295c;
    padding-right:2%;
    margin-bottom:10%;
}

.design-selection{
    position:absolute;
    top: 560px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
    
}

#zen-intro{
    height: 550px;
}
#design-archives{
    display: none;
}

header{
    background-color: #5D4070;
    color:#D6B0F0;
}

header h1, header h2{
    display: inline-block;
}

header h1{
    margin-left: 1em;
    margin-right: 1em;
}

.sidebar ul{
    list-style-type: none;
}
.sidebar ul li{
    margin: 1.2em;
    text-align: center;
}

footer{
    background-color: #5D4070;
    color:#D6B0F0;
    margin: 4%;
    padding: 2%
}
footer a{
    font-family: 'Trebuchet MS', sans-serif;
    color:#D6B0F0;
    border:2px solid #8A729B;
    padding:0.5em;
}

html {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-indent: 1em;

    background:#D6B0F0;
    color: #5D4070;
}
a{
    color:#8A729B;
}
h1{
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    text-align: center;
    font-size: 1.2rem;
}
.summary{
    text-align:center;
}
.main p{
    line-height: 1.5;
}
abbr{
    font-variant: small-caps;
}